@tailwind base;
@tailwind components;
@tailwind utilities;

/* .toast-message {
   
    font-size: 20px;
    margin: 70vh auto;
    position: center;
    width: 200px;
    padding: 30px 20px;
  } */
  